@use 'variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin heading{
    font-size: 3.5rem;
    margin: 0 0 5rem 0;
    text-align: center;
    color: v.$colorDos;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &::after{
        content: '';
        background-image: url(../img/icono_heading2.png);
        display: block;
        width: 5rem;
        height: 5rem;
        background-position: center center;
        background-size: cover;
    }
}

@mixin boton($borde, $color, $bgHover, $colorHover) {
    color: $color;
    text-align: center;
    display: block;
    border: 1px solid $borde;
    padding: 1rem;
    text-transform: uppercase;
    transition: background-color, color, .2s;
    &:hover{
        background-color: $bgHover;
        color: $colorHover;
    }
}